.large-modal {
    height: 65vh;
    color: black;

    .modal-delete-wrapper {
        .content-wrapper {
            margin-bottom: 40px;
        }

        .action-wrapper {
            text-align: center;
        }
    }
}